<p>
<mat-toolbar class="bg">
    <mat-toolbar-row>
      <span>V I C N I E N C I A</span>
      <span class="example-spacer"></span>
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"(click)="isExpanded = !isExpanded" >
			<mat-icon>apps</mat-icon>
		</button>   
    </mat-toolbar-row>
</mat-toolbar>
</p>

<mat-sidenav-container class="example-container bgFundoCont" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <mat-icon mat-list-icon>home</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing">Conveniência</span>

				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item routerLink="/produtoVendas">Produtos</a>
				<a mat-list-item >Cliente</a>
        <a mat-list-item >Fornecedor</a> 
			</div>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
    <router-outlet></router-outlet>
	</div>

</mat-sidenav-container>




